.global {
    box-sizing: border-box
}

body {
    min-height: 100vh
}

.content {
    margin-top: 5vh;
    height: calc(95vh - 44px)
}

.contentMarginOff {
    height: calc(100vh - 44px);
    margin-top: 0
}

.log {
    outline: none;
    resize: none;
    overflow: auto;
    border: 0;
    border-bottom: none;
    height: 100%;
    width: 100%
}

.logo {
    background-image: url(logo.png);
    background-size: contain
}

.logo {
    background-position: 50%;
    background-repeat: no-repeat
}

.imageErr {

}

.loader {
    background-image: url(loader.gif);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat
}

figure {
    margin-bottom: 0
}

#map {
    height: 400pt;
    width: 100%;
    position: relative;
}