{% extends 'maps/wrapper.html' %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
</form>
    <form method="post" action="{% url 'add_war' %}">
        {% csrf_token %}
        {% for i in add_war_form %}
	    <label>{{ i.label }}</label>
	    {{ i }}
	    <br>
        {% endfor %}
        <input type="submit" value="+ Добавить" />
    </form>
    <ul>
        {% for i in wars %}
        <li>{{ i.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}