{% extends 'maps/wrapper.html' %}

{% block content %}
{% load static %}

<meta name="viewport" content="initial-scale=1.0">
<style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
        height: 100%;
        width: 75%;
        position: relative;
    }
    html, body{
        height: 100%;
    }
    #main-content {
        display: inline-flex;
        height: 90%;
        width: 100%;
    }
</style>
<h1>{{ battle_info.name }}</h1>
    <div id="main-content">
        <div id="map"></div>
        <div id="options">
            <p id="init_cx">{{ battle_info.coordx }}</p>
            <p id="init_cy">{{ battle_info.coordy }}</p>
            <form method="post" action="{% url 'upd_loc' battle_info.battle_id %}">
                {% csrf_token %}
                {% for i in update_location_form %}
                    {{ i }}
                {% endfor %}
                <input type="button" value="Обновить локацию" id="upd-loc-btn">
                <input type="submit" value="Принять изменения">
            </form>
        </div>
    </div>
{{ battle_info.coordx }}
{{ battle_info.coordy }}
<script>
    var map;
    function initMap() {
        lat_val = document.getElementById("init_cx").innerHTML;
        lng_val = document.getElementById("init_cy").innerHTML;
        if(lat_val != "None" & lng_val != "None"){
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: Number(lat_val), lng: Number(lng_val)},
                zoom: 16,
                mapTypeId: 'satellite'
            });
        } else {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 59.95194, lng: 30.470372},
                zoom: 16,
                mapTypeId: 'satellite'
            });
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX0Bm9W3rElolG899bnNronRm1XPqgzhg&callback=initMap"
    async defer></script>
    <script src="{% static 'battle.js' %}"></script>
{% endblock %}