{% extends 'maps/wrapper.html' %}

{% block content %}
    <form method="post" action="{% url 'add_battle' %}">
        {% csrf_token %}
        {% for i in add_battle_form %}
	    <label>{{ i.label }}</label>
	    {{ i }}
	    <br>
        {% endfor %}
        <input type="submit" value="+ Добавить" />
        <input type="hidden" name="next" value="{% url 'add_battle' %}" />
    </form>
    <ul>
        {% for i in battles %}
        <a href="{% url 'battle' i.battle_id %}"><li>{{ i.name }} {{ i.startDate }} {{ i.finishDate }}</li></a>
        {% endfor %}
    </ul>
{% endblock %}