{% extends 'maps/wrapper.html' %}
<!--<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Карта события</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="static/styles/vendors.f9e2079dbe75d22a4cf9.css" rel="stylesheet">
    <link href="static/styles/content.f9e2079dbe75d22a4cf9.css" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <ul class="nav nav-tabs flex-column flex-sm-row">
            <li class="nav-item"><a class="nav-link logo" href="main.html"><br></a></li>
            <li class="nav-item"><a class="nav-link text-center active" href="content.html">Карта</a></li>
            <li class="nav-item"><a class="nav-link text-center" href="event.html">Добавить событие</a></li>
            <li class="nav-item"><a class="nav-link text-center" href="">Мой аккаунт</a></li>
        </ul>
    </nav>
</header>-->
{% block content %}
{% load static %}
<link href="{% static 'content.f9e2079dbe75d22a4cf9.css' %}" rel="stylesheet">
<link href="{% static 'vendors.f9e2079dbe75d22a4cf9.css' %}" rel="stylesheet">
<main class="container-fluid">
    <div class="row h-100 align-items-center">
        <aside class="col-sm-9">
            <p id="init_cx">{{ battle_info.coordx }}</p>
            <p id="init_cy">{{ battle_info.coordy }}</p>
            <figcaption><h2 class="text-center">{{ battle_info.name }}</h2></figcaption>
            <div class="imageErr" id="map"></div>
            <form method="post" action="{% url 'upd_loc' battle_info.battle_id %}">
                {% csrf_token %}
                {% for i in update_location_form %}
                    {{ i }}
                {% endfor %}
                <input type="button" value="Обновить локацию" id="upd-loc-btn">
                <input type="submit" value="Принять изменения">
            </form>
        </aside>
        <article class="col-sm-3">
            <h2 id="title">Название события</h2>
            <h3 id="Dates">Даты</h3>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Причины</button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <textarea name="reasonsField" id="reasonsField" rows="10" class="log">
Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente eaproident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Основные события
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <textarea name="eventsField" id="eventsField" rows="10" class="log">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente eaproident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Участники
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <textarea name="participantsField" id="participantsField" rows="10" class="log">
Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente eaproident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</textarea></div></div></div><div class="card"><div class="card-header" id="headingFour"><h5 class="mb-0"><button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Результат</button></h5></div><div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample"><div class="card-body"><textarea name="resultField" id="resultField" rows="10" class="log">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente eaproident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>
<script>
    var map;
    function initMap() {
        lat_val = document.getElementById("init_cx").innerHTML;
        lng_val = document.getElementById("init_cy").innerHTML;
        if(lat_val != "None" & lng_val != "None"){
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: Number(lat_val), lng: Number(lng_val)},
                zoom: 16,
                mapTypeId: 'satellite'
            });
        } else {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 59.95194, lng: 30.470372},
                zoom: 16,
                mapTypeId: 'satellite'
            });
        }
    }
    updateLocationBtn = document.getElementById("upd-loc-btn");
cx = document.getElementById("id_cx");
cy = document.getElementById("id_cy");
updateLocationBtn.onclick = function () {
    //map = new google.maps.Map(document.getElementById("map"));
    c = map.center;
    cx.value = c.lat();
    cy.value = c.lng();
};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX0Bm9W3rElolG899bnNronRm1XPqgzhg&callback=initMap"
    async defer></script>
<script type="text/javascript" src="{% static 'vendors.f9e2079dbe75d22a4cf9.js' %}"></script>
<script type="text/javascript" src="{% static 'content.f9e2079dbe75d22a4cf9.js' %}"></script>
{% endblock %}