<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>БитвоПедия Пантюхина</title>
</head>
<body>
    <h1>БитвоПедия имени Р. Ф. Пантюхина</h1>
<header>
    <nav>
        <ul class="nav nav-tabs flex-column flex-sm-row">
            <li class="nav-item"><a class="nav-link logo" href="{% url 'main' %}"><br></a></li>
            <li class="nav-item"><a class="nav-link text-center active" href="{% url 'battles' %}">Все битвы</a></li>
            <li class="nav-item"><a class="nav-link text-center" href="{% url 'wars' %}">Все войны</a></li>
            <li class="nav-item"><a class="nav-link text-center" href="{% url 'login' %}">Мой аккаунт</a></li>
        </ul>
    </nav>
</header>
{% block content %}
{% endblock %}

</body>
</html>